* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.wrapper {
    /*    width: 1200px;
        height: 100%;
        margin: 0 auto;*/
    position: relative;
    top: 150px;
}


/*** header ***/
.header {
    height: 150px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.header .logo {
    /*width: 100%;*/
    /*float: left;*/
    /*line-height: 100px;*/
}

.header .logo a {
    text-decoration: none;
    font-size: 30px;
    /*font-family: "Blackadder ITC";*/
}

.header nav {
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: right;*/
    /*line-height: 100px;*/
}

.header nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    /*margin: 0 10px;*/
    padding: 10px 25px;
    color: #fff;
    /*text-transform: capitalize;*/
}

.header nav a.active,
.header nav a:hover {
    background: #fff;
    color: black;
}

.wrapper:after {
    clear: both;
    display: block;
    content: "";
}

/*** content ***/

section {
    min-height: 100vh;
    display: flex;
    font-weight: bold;
    padding-top: 150px;
}

section:nth-child(odd) {
    background: #eee;
}

.video {

}

.countdownContainer {
    text-align: center;
    /*background: #ddd;*/
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    border-radius: 5px;
    vertical-align: middle;
}

.countdownContainer .text {

}

.countdownContainer .info {
    /*font-size: 2rem;*/
    /*line-height: initial;*/
    line-height: 0.8;
    font-size: 3rem;
}

.open-text {

}


.video-wrap {
    position: relative;
    /*padding-bottom: 56.25%;*/
    padding-bottom: 46.25%;
    padding-top: 30px;
    height: 0;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
}

.video-title {

}

.buy {

}

.buy:hover,
.buy:active {
    font-weight: bold;
    transition: all 0.3s;
}


.introduce {

}

.profile-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.profile-box-record{
    min-height: 270px;
}


.guide {

}


/*** 반응형 ***/
@media (max-width: 1200px) {
    .d-day-count {
        display: block;
    }
}

@media (max-width: 993px) {
    .open-text {
        font-size: 1.5rem;
    }

    .profile-image {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .header nav a {
        padding: 10px 0;
    }

    .bookmark a {
        font-size: 0.8rem !important;
    }

    .countdownContainer .info {
        font-size: 2rem !important;
    }

    .video-wrap {
        padding-bottom: 56.25%;
    }

    .video-wrap iframe {
        left: 0;
        width: 100%;
    }

    .profile-image {
        width: 50%;
    }

    .profile-box {
        margin-top: 1.5rem;
    }
}

@media (max-width: 455px) {
    .desc span {
        font-size: 0.9rem !important;
    }

    .header nav a {
        padding: 10px 0;
        letter-spacing: 1px;
    }

    .bookmark a {
        font-size: 15px !important;
    }
}

@media (max-width: 400px) {
    .bookmark a {
        font-size: 12px !important;
    }

    .desc {
        margin-top: 1.5rem !important;
    }

    .video-wrap {
        margin-top: 1.5rem !important;
    }

    .video-title {
        margin-top: 1.5rem !important;
    }

    .buy {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem;
    }
}



