/*reset*/

*{
	margin: 0;
	padding: 0;
}
ul,li{
	
	list-style: none;
}
a{
	text-decoration: none;
	color: orange;
}
body{
	width: 100%;
}

header{
	width: 100%;
	position: relative;
	height: 100px;
	line-height: 100px;
}
header h1{
	position: absolute;
	left: 16%;
}

.div{
	position: relative;
	width: 100%;
	height: 600px;
	background: orange;
	text-align: center;
}
.div>section{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
.div>section>h2{
	color: #fff;
	height: 15%;
	line-height: 4;
}
.div article{
	width: 23%;
	height: 100px;
	float: left;
	margin: 1%;
	border-radius: 20px;
	background: #fff;
	overflow: hidden;
}
.div article div{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	/*background: purple;*/
}
.div article a{
	display: block;
	width: 100%;
	height: 100%;
	/*background: #fff;*/
	border-radius: 20px;
	line-height: 100px;
	transition: all 0.3s;
	overflow: hidden;
}

.div article:nth-child(2) a:hover,
.div article:nth-child(3) a:hover,
.div article:nth-child(4) a:hover,
.div article:nth-child(5) a:hover{
	background: green;
}
.div article:nth-child(6) a:hover,
.div article:nth-child(7) a:hover,
.div article:nth-child(8) a:hover,
.div article:nth-child(9) a:hover{
	box-sizing: border-box;
	border: 10px solid red;
	background: #fff;
	line-height: 80px;
}

.div article:nth-child(10):hover div,
.div article:nth-child(11):hover div,
.div article:nth-child(12):hover div,
.div article:nth-child(13):hover div{
	background: purple;
	border-radius: 0;
	animation: ani 1s;
}
@keyframes ani{
	0%{
		width: 10%
		/*background: #fff;*/
		/*border-radius: 0;*/
	}
	100%{
		width: 100%;
		/*background: pink;*/
	}
}

footer{
	width: 100%;
	height: 237px;
	background: #000;
	position: relative;
	/*right: 15%;*/
}
footer span{
	position: absolute;
	color: #fff;
	top: 15%;
	right: 15%;
}