@charset 'utf-8';

*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	overflow: hidden;
	background: #141414;
}

.image{
	position: absolute;
	left: 0;
	top: 0;

	border: 3px solid #fff;
	box-sizing: border-box;
}
#viewport{
	transform-style: preserve-3d;
	perspective: 2000px;
	position: relative;
	height: 100%;
	transform: rotateX(-10deg);
}

#tizen_gallery{
	width: 300px;
	height: 180px;
	transform-style: preserve-3d;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -90px;
}