@charset "uft-8";

@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    background: #ccc;
}
.sub__tit h2{
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.sub__container{
    width: 1260px;
    height: auto;
    margin: 0 auto;
}

/*main{width: 1060px;}*/

main .main__siteLoad{padding: 5px;}
.main__siteLoad a{
    display: inline-block;
    font-size: 13px;
}

main .main__content{
    padding: 50px 0;
    text-align: center;
}

.content__innerConts .innerConts__tit{
    font-size: 50px;
    margin-bottom: 30px;
}
.main__content_tit .form_tit{
    font-size: 40px;
}
.content__innerConts > p{
    margin-bottom:50px;
    font-size: 14px;
    word-break: keep-all;
}

.join_form{
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid red;*/
    padding: 20px;
}
.form_list .star{
    color: red;
    float: right;
    margin-bottom: 10px;
}
.form_list ul{
    width: 100%;
}
.form_list ul>li{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid #000;
}
.form_list ul>li:after{
    content: "";
    display: block;
    clear: both;
}
.form_list ul>li>label{
    float: left;
    display: inline-block;
    width: 20%;
    background: #000;
    color: #fff;
    height: 100%;
    box-sizing: border-box;
    padding-left: 3%;
    text-align: left;
    line-height: 3.5;
}
.form_list ul>li>label:after{
    content: "";
    display: block;
    clear: both;
}
.form_list ul>li>label>span{
    color: #f00;
}
.form_list ul>li>input{
    width: 60%;
    height: 48px;
    border: none;
}
.form_list ul>li:nth-of-type(2)>input,
.form_list ul>li:nth-of-type(3)>input,
.form_list ul>li:nth-of-type(4)>input,
.form_list ul>li:nth-of-type(6)>input,
.form_list ul>li:nth-of-type(7)>input
{
    width: 78%;
}
.form_list ul>li>button{
    float: right;
    background-color: #f00;
    border: none;
    width: 18%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}
.form_list ul>li>button:after{
    content: "";
    display: block;
    clear: both;
}
.form_list ul>li>div{
    float: left;
    /*width: 79%;*/
    text-align: left;
    height: 50px;
    line-height: 3.5;
    margin-left: 3px;
}
.form_list ul>li>div:after{
    content: "";
    display: block;
    clear: both;
}


.form_list ul>li:nth-of-type(11){
    margin-top: 3%;
}
.form_list ul>li:nth-of-type(11),
.form_list ul>li:nth-of-type(12){
    border: none;
}
.form_list ul>li:nth-of-type(11)>input,
.form_list ul>li:nth-of-type(12)>input
{
    width: 3%;
    float: left;

}
.form_list ul>li:nth-of-type(11)>label,
.form_list ul>li:nth-of-type(12)>label{
    width: 80%;
    float: left;
    background: none;
    color: #444;
    padding-left: 1%;
}
.form_list ul>li:nth-of-type(5) .sex{
    margin-left: -13px;
}
.form_list ul>li:nth-of-type(5) label{
    margin-right: 20px;
}


.form_list ul>li.add_area{
    height: 135px;
}
.form_list ul>li.add_area label:after{
    content: "";
    display: block;
    clear: both;
}
.form_list ul>li.add_area input{
    position: relative;
    float: none;
    border: 0.5px solid #000;
    height: 40px;
    margin: 0;
}
.form_list ul>li.add_area input#sample4_postcode{
    width: 20%;
    left: -3.05%;
}
.form_list ul>li.add_area input#post_btn{
    width: 15%;
    top: 1px;
    left: -2.5%;
    height: 43px;
    background: #ddd;
    cursor: pointer;
}
.form_list ul>li.add_area input#post_btn:hover{
    background: #7e7e7e;
    color: #fff;
}
.form_list ul>li.add_area input#sample4_roadAddress{
    top: 44px;
    left: -39.2%;
    width: 35%;
}
.form_list ul>li.add_area input#sample4_jibunAddress{
    top: 1px;
    left: 33%;
    width: 35%;
}
.form_list ul>li.add_area input#sample4_detailAddress{
    top: 45px;
    left: -39.05%;
    width: 35%;
}
.form_list ul>li.add_area input#sample4_extraAddress{
    top: 2px;
    left: 15.1%;
    width: 35%;
}


.form_list ul>li.email_area{
    position: relative;
}
.form_list ul>li.email_area #email_id{
    position: absolute;
    width: 20%;
    left: 21%;
}
.form_list ul>li.email_area>span{
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form_list ul>li.email_area #email_add{
    position: absolute;
    left: 45%;
    width: 20%;
}
.form_list ul>li.email_area #email_sel{
    position: absolute;
    width: 15%;
    height: 100%;
    left: 66%;
}

.form_list .btn_yn{
    margin: 3% 0 3% 0;
    width: 100%;
    height: 50px;
    /*line-height: 100px;*/
}
.form_list .btn_yn button{
    width: 30%;
    height: 50px;
    font-size: 25px;
    border: 2px solid #000;
    cursor: pointer;
    color: #fff;
}
.form_list .btn_yn button:nth-of-type(1){
    float: left;
    background: #000;
    color: #fff;
    margin-left: 15%;
}
.form_list .btn_yn button:nth-of-type(2){
    float: right;
    background: #fff;
    color: #000;
    margin-right: 15%;
}


