@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    background: #ccc;
}
.sub__tit h2{
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.sub__container{
    width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    width: 200px;
    height: 100%;
    background: gold;
}
.container__subClass .subClass__tit{
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
    background: skyblue;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
}
.subClass__list li a:hover{
    color: #7fceff;
    background: #434343;
}

main{width: 1060px;}

main .main__siteLoad{padding: 5px;}
.main__siteLoad a{
    display: inline-block;
    font-size: 13px;
}

main .main__content{
    padding: 50px 0;
    text-align: center;
}

.content__innerConts .innerConts__tit{
    font-size: 50px;
    margin-bottom: 30px;
}

.rentalStepContainer{
    width: 900px;
    margin: 0 auto;
}
.rentalStepContainer .rentalStepContainer__rentalStep,
.rentalStepContainer .rentalStepContainer__rentalcontact{
    margin-bottom: 30px;
}
.rentalStepContainer__rentalStep .rentalStep__title,
.rentalStepContainer__rentalcontact .rentalcontact__tit{
    line-height: 1;
    margin-bottom: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    color: #7b0091;
    border-left: 3px solid #ab00cb;
}
.rentalStep__stepContainer .stepList,
.rentalcontact__contactContainer .contactList{
    float: left;
    width: 25%;
    height: 300px;
    margin-bottom: 15px;
    padding: 0 10px;
    box-sizing: border-box;
}
.stepList .stepList__tit{
    display: block;
    width: 80px;
    margin: 10px auto;
    padding: 5px 10px;
    background: #8d8d8d;
    color: #fff;
    border-radius: 10px;
}
.stepList .stepList__text{
    font-size: 13px;
    word-break: keep-all;
}

.rentalcontact__contactContainer .contactList{
    width: 33.3333%;
    height: auto;
    margin-bottom: 0;
}
.contactList .contactList__tit{
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
