@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

.search{
    justify-content: center;
}

.search .form-control{
    width: 50% !important;
}

/* Category Ads */
#ads {
    margin: 30px 0 30px 0;
    /*margin: 0 auto;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}


#ads .card-detail-badge {
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}


#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#ads .card-body {
    padding: 0.5rem !important;
}


#ads .card-title h5 {
    font-size: 18px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
